<div class="container">
  <div id="fb-root"></div>

  <div class="goal-title"><h1 class="big-font">Your goals</h1></div>

  <br><br>

  <div id="goals-container" class="row">
    <% @goals.each do |goal| %>
        <div class="box box-solid goal-box">
          <div class="box-header">
            <h2 class="box-title"><%= goal.goal_type.typename %></h2>
            <% if goal.goal_type.id < 5 && goal.reached >= goal.target %>
                <div class="fb-share-button" data-href="http://binaryband.herokuapp.com/share/<%= goal.id %>" data-layout="button"></div>
            <% end %>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="col-md-8">
              <h3>Goal target: <%= (sprintf '%.2f', goal.target) +' ' + goal.goal_type.unit_measured %></h3>
              <% unless goal.goal_type.id >= 5%> <h4><%= goal.reached.to_s + ' ' + goal.goal_type.unit_measured + ' reached so far' %></h4> <% end %>
            </div>
            <div class="col-md-2">
              <div class="row">
                <a href="/goals/<%= goal.id %>" class="btn bg-green goal-btn">Details</a><br>
              </div>
              <div class="row">
                <a data-method="delete" href="/goals/<%= goal.id %>" class="btn bg-red goal-btn">Delete goal</a><br><br>
              </div>
              <div class="row">
                <a href="/goal/history/<%= goal.id %>" class="btn bg-teal goal-btn">Goal history</a><br><br>
              </div>
            </div><!-- buttons div -->
          </div><!-- /.box-body -->
        </div>
        <div class="col-xs-1">&nbsp;</div>
    <% end %>
  </div>



  <div class="row">
    <%= link_to 'New Goal', new_goal_path, {class: 'btn btn-default'} %>
  </div>
  <br><br><br>
</div>
