<div class="container">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title"><%= @goal.goal_type.typename %></h3>
    </div><!-- /.box-header -->
    <div class="box-body no-padding">
      <table class="table table-bordered">
        <tr>
          <td colspan="3">Goal started at</td>
          <td colspan="3">
            <div>
              <%= @goal.start_date %>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">Goal repeats every</td>
          <td colspan="3">
            <div>
              <%= @goal.interval %>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">Goal target</td>
          <td colspan="3">
            <div>
              <%= (sprintf "%.2f", @goal.target) +" " + @goal.goal_type.unit_measured %>
            </div>
          </td>
        </tr>
        <% if @goal.goal_type.id < 5%>
            <tr>
              <td>Progress so far</td>
              <td><%= (sprintf "%.2f", @goal.reached) +" " + @goal.goal_type.unit_measured %></td>
              <td><span class="badge percentage"><%= (sprintf "%.0f", @percentage) %>%</span><% if @percentage > 99 %> <div class="fb-share-button" data-href="http://binaryband.herokuapp.com/share/<%= @goal.id %>" data-layout="button"></div> <% end %></td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar percentage" style="width: <%= (sprintf "%.0f", @percentage) %>%"></div>
                </div>
              </td>
            </tr>
        <% end %>
      </table>
    </div><!-- /.box-body -->
  </div>

  <%= link_to 'Back', goals_path, {class: "btn btn-default"} %>
</div>