<!DOCTYPE html>
<html>
<head>

  <title>Binary-Band</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
  <link rel="shortcut icon" href="/Images/logo.png">

</head>
<body>
	
<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
  <!--<div class="container">-->
    <div class="navbar-header">
      <a href="/"><img class="navbar-brand" src="/Images/logo.png"></a>
      <a class="navbar-brand" href="/">Binary-Band</a>
    </div>
    <div class="navbar-collapse collapse">
      <% if current_user %>  
        <ul class="nav navbar-nav navbar-left nav-pills"> 
          <%if current_user.role == 'Admin'%>
              <li><a href="/users">User List &nbsp; <i class="fa fa-fw fa-group"></i></a>
              <li><a href="/band_data">Band Data &nbsp; <i class="fa fa-table"></i></a>
          <%else%>
              <li><a href="/bands">Band</a></li>
              <li><a href="/workouts">Workouts</a></li>
              <li><a href="/goals">Goals</a></li>
              <li><a href="/sleeps">Sleep</a></li>
              <li><a href="/alarms">Alarms</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li>&nbsp;</li>
              <%unless current_user.band %>
                  <li><a href="/bands/new" style="background-color: #58ACFA">REGISTER BAND</a></li>
              <%end%>
          <%end%>
        </ul>
      <% end %>    
        <ul class="nav navbar-nav navbar-right">
          <li>
            <ul class="nav navbar-nav nav-pills">
              <% if current_user %>                
                <% current_user.alarms.each do |alarm| %>
                  <%if current_user.verify_day_and_hour_of_alarm(alarm)%>  
                    <li><a href="/alarms/<%=alarm.id%>">Alarm active</a></li>
                  <%end%>
                <%end%>
                <li><a href="/users/edit/<%=current_user.id%>">Edit User &nbsp; <img class="icon" src="/Images/Icons/user.png"></a></li>
                <li><a href="/users/<%=current_user.id%>">Show Profile</a></li>
                <li>&nbsp;</li>
              <% end %>        
              <% if !current_user %>
                <li><a href="<%=login_path%>">Sign in &nbsp;<img class="icon" src="/Images/Icons/login.png"></a></li>
                <li><a href="/users/new">Sign up &nbsp;<img class="icon" src="/Images/Icons/login.png"></a></li>
                <li>&nbsp;</li>
              <%end%>
              <%if current_user%>  
                <li><a href="<%=logout_path%>">Log out</a></li>
                <li>&nbsp;&nbsp;</li>
              <%end%>
            </ul>
          </li>
        </ul>
    </div>
  <!--</div>-->
</nav>


<!--Content-->
<br><br><br><br>

<div class="container">    
    <!--<% flash.each do |key, value| %>-->
        <!--<div class="alert alert-<%= key %>"><%= value %></div>-->
        <!--<br><br>-->
    <!--<% end %>-->
    <!-- Button trigger modal -->

</div>


    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : 503520029796244,
                xfbml      : true,
                version    : 'v2.3'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=503520029796244";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

  <%= yield %>


    
    </div>
<!--Footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 column">
                <img class="icon" src="/Images/Icons/info.png">
                <h4>Information</h4>
                <ul class="nav">
                    <li><a href="about-us.html">Bands</a></li>
                    <li><a href="about-us.html">Services</a></li>
                    <li><a href="about-us.html">Benefits</a></li>
                    <li><a href="elements.html">Developers</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <img class="icon" src="/Images/Icons/hearth.png">
                <h4>Follow Us</h4>
                <ul class="nav">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Pinterest</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <img class="icon" src="/Images/Icons/graph.png">
                <h4>Contact Us</h4>
                <ul class="nav">
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Directions</a></li>
                    <li><a href="#">University</a></li>
                    <li><a href="#">Call us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <img class="icon" src="/Images/Icons/corone.png">
                <h4>Customer Service</h4>
                <ul class="nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
        <!--/row-->
        <p class="text-right">©2015</p>
    </div>
</footer>





<!-- Button trigger modal -->





</body>
</html>
